.mainMenuWrap {
    position: absolute;
    z-index: 10;
    background-color: white;
    box-shadow: 1px 1px 10px -2px #909090;
    border-radius: 4px;
    left: 10px;
    transform: translateY(-10px);
    opacity: 0;
    transition: all .2s;
    padding: 8px;
}